BOT_TOKEN=8626343361:AAHDNfpS2Sx2YqltuhikcziqCcmHdtXCl00
OWNER_ID=1471748371
CHANNEL_ID=-1003733603815
TIMEZONE=Europe/Kiev

MORNING_POST_TIME=09:00
NEWS_POST_TIME=11:00
SIGNAL_SCAN_INTERVAL_MINUTES=180
PRICE_MONITOR_INTERVAL_MINUTES=5
MAX_OPEN_SIGNALS=3

SIGNAL_SYMBOLS=BTCUSDT,ETHUSDT,SOLUSDT,BNBUSDT,XRPUSDT,DOGEUSDT,ADAUSDT,LINKUSDT

OPENROUTER_API_KEY=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
OPENROUTER_MODEL=deepseek/deepseek-chat-v3-0324:free
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
GEMINI_API_KEY=AIzaSyBxxAhe8Mjqj7am8t35IiczYn3H7N0zV6g
GEMINI_MODEL=gemini-2.0-flash

COINGECKO_API_KEY=CG-QEQpaV5UVPCBNeujkAGP5j8S
COINMARKETCAL_API_KEY=e7kAUnwbs91qFlSpLzsWa7PkI0kyzS8h1JHNbZbQ
